<div class="modal-header text-center">
  <button type="button" class="close" data-dismiss="modal" ng-click="close();"style="color:red;">X</button>
     <h5 class="h5-responsive">
     <i class="fa fa-map-o" aria-hidden="true"></i>
       <b><span translate="MAIN_PAGE_MAIN_MAP_HEADER"></span></b>
    </h5>
</div>
<div class="modal-body">
	<div class="row main-map" >
		 <div  class="col-xs-12 col-sm-12 col-lg-12" ng-if="render" >

                         <ui-gmap-google-map center='map.center' zoom='map.zoom' refresh='render'>
                                    <ui-gmap-marker coords="marker.coords" idkey="marker.id">
                                        </ui-gmap-marker>
                         </ui-gmap-google-map>
              </div>

	</div>
</div>