<div class="modal-body">
<div class="row">
<div class="col-xs-12 col-sm-12 col-lg-12">
<table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6" style="text-align:center;">
                    <span translate="ORDER_INFO_HEADER"></span>
                </th>
            </tr>
             <tr>
            <th colspan="6" style="text-align:center;">
            <span translate="ORDER_LIST_ORDER"></span>
                <span ng-bind="order.id"></span>
                <span translate="PAYMENT_CONFIRM_FROM"></span> 
            <span ng-bind="order.order_time_in | date : 'MM/dd/yyyy'"></span> </th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b><span translate="ORDER_INP_DATE_ARIVAL"></span></b></td>
                    <td><span ng-bind="order.date_in"></span></td>
                <td><b><span translate="ORDER_INP_DATE_DEPARTURE"></span></b></td>
                     <td><span ng-bind="order.date_out"></span></td>
                <td><b><span translate="ORDER_PHONE"></span></b></td>
                    <td><span ng-bind="order.person_phonenumber"></span></td>
            </tr>
            <tr>
                <td><b><span translate="USER_FIRST_NAME"></span> </b></td>
                    <td><span ng-bind="order.person_firstname"></span></td>
                 <td><b><span translate="USER_MIDDLE_NAME"></span></b></td>
                <td><span ng-bind="order.person_middlename"></span></td>
                 <td><b><span translate="USER_LAST_NAME"></span></b></td>
                <td><span ng-bind="order.person_lastname"></span></td>
            </tr>
            <tr>
                <td><b><span translate="ORDER_PAYMENT"></span></b></td>
                <td ng-if="order.payment"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                <td ng-if="!order.payment"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i>
                
                    <td><b><span translate="MANAGER_ORDER_BOOKING"></span></b></td>
                    <td ng-if="order.is_booking"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                    <td ng-if="!order.is_booking"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i></td>
                
                        <td><b><span translate="MANAGER_ORDER_DESELECTED"></span></b></td>
                        <td ng-if="order.deselected"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                        <td ng-if="!order.deselected"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i></td>
            </tr>
            <tr ng-if="order.payment">
                <td><b><span translate="MANAGER_PAYMENT_TYPE"></span></b></td>
                    <td><span ng-bind="order.payment_type"></span></td>
                 <td><b><span translate="MANAGER_PAYMENT_DATE"></span></b></td>
                <td><span ng-bind="order.payment_date"></span></td>
                 <td><b><span translate="MANAGER_MANAGER_ORDER"></span></b></td>
                <td><span ng-bind="order.manager_take_order"></span></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right; font-size: 15px;">
                <span translate="PAYMENT_AMMOUNT"></span>
                </td>
                <td colspan="1" style="text-align:center; font-size: 15px;">
                <b><span class="custom-error-text" ng-bind="order.amount" translate="MANAGER_PAYMENT_MONEY"></span></b>
                </td>
            </tr>
        </tbody>
</table>
</div>
</div>
<div class="row text-center" ng-show="!order.payment && !order.deselected">
    <div class="col-xs-6 col-sm-6 col-lg-6">
           <div class="input-field" >
                <input name="deselect_order" id="deselect_order" type="text" ng-model="deselected_reason" required class="validate">
                <label for="deselect_order" ><span translate="MANAGER_DESELECTED_REASON"></label>  
            </div>
        <a class="btn btn-warning waves-effect waves-light" ng-disabled="deselect_order.$pristine" ng-click="orderDeselect(order)">
            <span translate="MANAGER_DESELECT_BT"></span>
        </a>       
    </div>
    <div class="col-xs-6 col-sm-6 col-lg-6">
            <input class="with-gap" name="manager_payment" ng-model="payment_type.pay_way" type="radio" id="pay_way_cash" value="cash" />
            <label for="pay_way_cash"><span translate="MANAGER_PAYMENT_METHOD1"></span></label>
        
            <input class="with-gap" name="manager_payment" ng-model="payment_type.pay_way" type="radio" id="pay_way_privat24" value="Privat24 Card"/>
            <label for="pay_way_privat24"><span translate="MANAGER_PAYMENT_METHOD1"></span></label><br>
                
            <a class="btn btn-primary waves-effect waves-light" ng-click="addPayment(order)"><span translate="MANAGER_PAY_BT"></span></a>
    </div>
</div>
</div>
    