
<table class="table">
   <tbody>
        <tr>
            <td>
                <div class="input-field" >
                <input type="text" id="filter_order_number" ng-model="filter.number_order" ng-change="orderFilter(filter)">
                <label for="filter_order_number" ><span translate="MANAGER_ORDER_FILTER_ORDER"></span></label>
                </div>
            </td>
            <td>
                <div class="input-field" >
                <input type="text" id="person_information" ng-model="filter.person_info" ng-change="orderFilter(filter)">
                <label for="person_information" ><span translate="MANAGER_ORDER_FILTER_USER"></span></label>
                </div>
            </td>
            <td>
                 <div class="text-center">
                        <span class="order-info" translate="PAYMENT_DATE_ARRIVAL"></span>
                              <quick-datepicker  ng-model='filter.date_in' disable-timepicker='true' 
                              placeholder="___/___/___/" on-change="orderFilter(filter)" style="margin-right:30px;" name="order_in">
                              </quick-datepicker>
                
                        <span class="order-info" translate="PAYMENT_DATE_DEPARTURE"></span>
                                 <quick-datepicker ng-model='filter.date_out' disable-timepicker='true' 
                                 placeholder="___/___/___/" on-change="orderFilter(filter)" name="order_out">
                                </quick-datepicker>
                    </div>
            </td>
            <td>
            <a class="btn btn-danger waves-effect waves-light" ng-click="resetFilters()">
            <span translate="MANAGER_ORDER_RESET_FILTER_BT"></span></a>
            </td>
        </tr>
    </tbody>
</table>
    

<table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th><span translate="PAYMENT_CONFIRM_ORDER"></span> #</th>
                <th><span translate="PAYMENT_DATE_ARRIVAL"></span></th>
                <th><span translate="PAYMENT_DATE_DEPARTURE"></span></th>
                <th><span translate="USER_FIRST_NAME"></span></th>
                <th><span translate="USER_MIDDLE_NAME"></span></th>
                <th><span translate="USER_LAST_NAME"></span></th>
                <th><span translate="MANAGER_MANAGER_ORDER"></span></th>
                <th><span translate="MANAGER_ORDER_DATE"></span></th>
                <th><span translate="MANAGER_ORDER_BOOKING"></span></th>
                <th><span translate="ORDER_PAYMENT"></span></th>
                <th><span translate="MANAGER_ORDER_DESELECTED"></span></th>

            </tr>
        </thead>
        <tbody>
      
            <tr ng-repeat="order in list_orders">
                <td>{{$index + 1}}</td>
                <td><a ng-click="managerPayment(order)"><span ng-bind="order.id"></span></a></td>
                <td><span ng-bind="order.date_in | date : 'MM/dd/yyyy'"></span></td>
                <td><span ng-bind="order.date_out | date : 'MM/dd/yyyy'"></span></td>
                <td><span ng-bind="order.person_firstname"></span></td>
                <td><span ng-bind="order.person_middlename"></span></td>
                <td><span ng-bind="order.person_lastname"></span></td>
                <td ng-if="order.is_manager"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                <td ng-if="!order.is_manager"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i></td>
                <td><span ng-bind="order.order_time_in | date : 'MM/dd/yyyy'"></span></td>
                <td ng-if="order.is_booking"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                <td ng-if="!order.is_booking"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i></td>

                <td ng-if="order.payment"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                <td ng-if="!order.payment"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i>
                   <a ng-click="managerPayment(order)"> <i ng-if="order.is_manager && !order.deselected" class="fa fa-money" aria-hidden="true"></i></a></td>

                <td ng-if="order.deselected"><span><i class="fa fa-check custom-success-text" aria-hidden="true"></i></td>
                <td ng-if="!order.deselected"><span><i class="fa fa-times custom-error-text" aria-hidden="true"></i></td>
            </tr>
                    
        </tbody>
    </table>