<div class="modal-header text-center">
  <button type="button" class="close" data-dismiss="modal" ng-click="close();"style="color:red;">X</button>
     <h5 class="h5-responsive">
     <i class="fa fa-map-o" aria-hidden="true"></i>
       <b><span translate="ORDER_PAYMENT_FALSE_HEADER"></span></b>
    </h5>
</div>
<div class="modal-body">
	<div class="row main-map" >
		 <div  class="col-xs-12 col-sm-12 col-lg-12" ng-if="render" >
           
            <h5 class="h5-responsive"><span translate="CONTACT_MANAGER" style="color:red;"></span></h5>
                         
      </div>
  </div>
</div>