<div class="modal-header text-center">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close();"style="color:red;">X</button>
                                    <h5 class="h5-responsive" ng-show="!pass_reset">
                                    Please enter your email address for password <b style="color:#ff0033;"> &nbsp; reset</b>
                                    </h5>
                                    <h5 class="h5-responsive animate-if" ng-if="pass_reset">
                                    Success<b style="color:#ff0033;"> &nbsp;reset</b> password
                                    </h5>
                                </div>

<div class="modal-body" >
            <form name="passwordResetForm" role="form" ng-submit="passwReset(passwordResetForm)"  novalidate ng-show="!pass_reset"> 
             <div class="row"> 
                       <div class="col-md-12 col-lg-12">
                           
                             <div class="input-field col-md-12 col-lg-12">
                                <i class="material-icons prefix">email</i>
                                <input id="icon_prefix_1" type="email" class="validate" name="email" ng-model="pw_reset.email" required>
                                <label for="icon_prefix_1">Email</label>
                              </div>
                   </div>
              </div>
              <div class="row">
                    <div class="col-md-12 col-lg-12 animate-if" >
                            <div class="alert alert-danger text-center" ng-if="errors" style="align:center;">{{errors}}</div>
                    </div>
              </div>     
              <div class="row">
                <div class="text-center">
                        <button type="submit" class="btn btn-success waves-effect waves-light" ng-disabled="passwordResetForm.$invalid">Reset</button>
                </div> 
              </div>
          </form>

          <div class="row" ng-if="pass_reset">
            <div class="col-md-12 col-lg-12 text-center">
            <h5 class="h5-responsive animate-if" ng-if="pass_reset">Email will send to you</h5>
            <a class="btn btn-primary btn-lg waves-effect waves-light" 
                        email-button="pw_reset.email" ng-model="redirect_email">Go Email</a>
            </div>
          </div>
</div>